azul = #5080FF
rojo = #FC2000
cafe = #C46000
carne = #FC9C11
body
	background withe
	font-size 10px
.mario
	margin-left 5em
	.gorra
		.pg1
			background rojo
			height 2em
			margin-left 4em
			width 100px
		.pg2
			background rojo
			height 2em
			width 220px
	.cabeza
		position relative
		background carne
		width 15em
		height 11em
		margin-left 2.2em
		.hair1
			background cafe
			height 2em
			width 7em
			margin-left -2.2em
		.hair2
			background cafe
			height 4em
			width 2.5em
		.hair3
			background cafe
			height 4em
			width 2.5em
			margin-left -5em
			margin-top -4em
		.hair4
			background cafe
			height 2em
			width 5em
			margin-top -2em
		.hair5
			background cafe
			height 2em
			width 5em
			margin-left -5em
		.hear
			background carne
			height 4em
			width 2.5em
			margin-left -2.5em
			margin-top -6em
		.eye
			background cafe
			width 2em
			height 4em
			margin-left 11em
			margin-top -6em
		.nose1
			background carne
			width 5em
			height 2em
			margin-left 15em
			margin-top -2em
		.nose2
			background carne
			width 7em
			height 2em
			margin-left 15em
		.mostash1
			background cafe
			width 2em
			height 2em
			margin-left 13em
			margin-top -2em
		.mostash2
			background cafe
			width 9em
			height 2em
			margin-left 11em
	.cuerpo
		position realtive
		.c1
			background cafe
			width 14em
			height 9.5em
			.tirante1
				background rojo
				width 2em
				height 4.5em
				margin-left 3.5em
			.tirante2
				background rojo
				width 2em
				height 3em
				margin-left 12em
				margin-top -3em
			.ovc
				background rojo
				width 10.5em
				height 6em
				margin-left 3.5em
				position relative
				.boton1
					background carne
					width 1.5em
					height 1.5em
					position absolute
					top 1em
				.boton2
					background carne
					width 1.5em
					height 1.5em
					position absolute
					right 0
					top 1em

		.armi
			.arm1
				background cafe
				height 2em
				width 2em
				margin-left -2em
				margin-top -8.5em
			.arm2
				background cafe
				height 2em
				width 4em
				margin-left -4em
			.hand1
				background carne
				width 4em
				height 5.5em
				margin-left -4em
				position relative
				.thumb1
					background carne
					width 2em
					height 2.5em
					margin-left 4em
					margin-top 2em
					position absolute
		.armd
			background cafe
			width 10em
			height 7em
			margin-left 12em
			margin-top -8.5em
			position relative
			z-index -1
			.armd1
				background cafe
				width 7em
				height 1em
				position absolute
				margin-top -1em
				margin-left 1em
			.hand2
				background carne
				width 4.5em
				height 5em
				position absolute
				bottom 0
				right 0
				.thumb2
					background carne
					width 2em
					height 2em
					margin-top 2em
					margin-left -1.5em

	.legs
		.leg1
			background rojo
			width 2em
			height 5.5em
			margin-left 2em
			margin-top -5.5em
		.leg1_5
			background rojo
			width 6em
			height 3em
			margin-top -1em
		.foot1
			background cafe
			width 6.5em
			height 2em
			margin-left -2em
		.foot1_5
			background cafe
			width 8.5em
			height 1.5em
			margin-left -4em
		.leg2
			background rojo
			width 2em
			height 5.5em
			margin-left 14em
			margin-top -11em
		.leg2_5
			background rojo
			width 6em
			height 3em
			margin-left 11.5em
			margin-top -1em
		.foot2
			background cafe
			width 6.5em
			height 2em
			margin-left 12.5em
		.foot2_5
			background cafe
			height 1.5em
			margin-left 12.5em
			width 8.5em